- cr = "dc143c"
- cb = "1e90ff"
- cg = "32cd32"
- cy = "ffd700"
<hr/>
<br/>
%columns
	%column
		%p(valign="top") Top left text.
	%column
		%p(valign="top" align="right") Top right text.
%columns(template="48 4 48")
	%column
		%img(src="textures/item/echo_shard.png" align="right" valign="bottom" width="64" height="64" textureWidth="128" textureHeight="128" background="0 #88#{cg}") &#32;
	%column
		%columns
			%column
				%p(align="center" obfuscated="true" shadow="true" align="center" valign="bottom" color="#{cg}" background="2 #88#{cg}") 0123456
			%column
				%p(align="center" obfuscated="true" shadow="true" align="center" valign="bottom" color="#{cy}" background="2 #88#{cy}") 0123456
	%column
		%img(src="textures/item/amethyst_shard.png" align="left" valign="bottom" width="64" height="64" textureWidth="128" textureHeight="128" u="48" background="0 #88#{cy}") &#32;
%p(align="center" bold="true" obfuscated="true" color="snow" background="0 #aaf5f5f5") 012345678901234567890
%columns(template="48 4 48")
	%column
		%img(src="textures/item/amethyst_shard.png" align="right" valign="top" width="64" height="64" textureWidth="128" textureHeight="128" v="48" background="0 #88#{cb}") &#32;
	%column
		%p(align="center" valign="top" obfuscated="true" color="white" background="2 linen") 0123456
	%column
		%img(src="textures/item/echo_shard.png" align="left" valign="top" width="64" height="64" textureWidth="128" textureHeight="128" v="48" background="0 #88#{cr}") &#32;
%columns
	%column
		%p(valign="bottom") Bottom left text.
	%column
		%p(valign="bottom" align="right") Bottom right text.
<br/>
<hr/>
