- cr = "dc143c"
- cb = "1e90ff"
- cg = "32cd32"
- cy = "ffd700"
- cw = "#333333"
- cwb = "#000000"
<br/>
%p(align="center" italic="true" bold="true") You mentioned Magic?
%p(align="center") Magic? That I did. The body and mind form a pathway to many abilities some consider to be unnatural.
<br/>
%columns(template="49 3 48")
	%column
		%columns
			%column
				%p(align="right") Most are ignorant of magic in this world.
				<br/>
				%p(align="right") Once you recognize the methods of activation, power will be at your fingertips.
			%column
				%item(id="bewitchment:demon_heart" align="right" valign="bottom" scale="4" background="0 ##{cb}") &#32;
				%p(italic="true" obfuscated="true" shadowed="true" align="right" color="#{cw}") 01234567890
				%item(id="spectrum:perturbed_eye" align="right" valign="top" scale="4" background="0 ##{cg}") &#32;
	%column
		%p(italic="true" obfuscated="true" shadowed="true" align="center" color="#{cw}" background="2 #{cwb}") 01234567890123
	%column
		%columns
			%column
				%item(id="botania:mana_pylon" align="left" valign="bottom" scale="4" background="0 ##{cy}") &#32;
				%p(italic="true" obfuscated="true" sadowed="true" align="left" color="#{cw}" background="1 #{cwb}") 01234567890
				%item(id="jewelry:netherite_jade_necklace" align="left" valign="top" scale="4" background="0 ##{cr}") &#32;
			%column
				%p(align="left") There are magics sublime, arcane, and profane.
				<br/>
				%p(align="left") Magics infused with the colors of the world.
<br/>
%p(align="center") Mana-based magic that can transmute and create, 
%p(align="center") Magic to take control of one's soul, or grant demi-invincibility.
<br/>
