- mediumvioletred ="c71585"
- darkgoldenrod = "b8860b"
- lightskyblue = "87cefa"
- saddlebrown = "8b4513"
- forestgreen = "228b22"
- greenyellow = "adff2f"
- ghostwhite = "f8f8ff"
- dodgerblue = "1e90ff"
- darkviolet = "9400d3"
- lawngreen = "7cfc00"
- goldenrod = "daa520"
- darkred = "8b0000"
- crimson = "dc143c"
- magenta = "ff00ff"
- yellow = "ffff00"
- orchid = "da70d6" 
- purple = "800080"
- black = "000000"
- ivory = "fffff0"
- blue = "0000ff"
- cyan = "00ffff"
- gold = "ffd700"
- blank = "&#160;&#160;&#160;&#160;&#160;&#160;"
- text = "123456789"
- c0 = gold
- c1 = darkgoldenrod
- c2 = crimson
- trofer = "allthequests"
- title = "All the Quests"
<br/>
%columns(template="0 100")
	%column
		%columns
			%column(valign="top")
				%h2(background="8 #dd#{c0}" border="0 #01#{c0}" obfuscated="true" color="#44#{c0}") #{text}
			%column(valign="bottom")
				%h2(background="8 #cc#{c1}" border="2 #01#{c1}" obfuscated="true" color="#44#{c1}") #{text}
			%column
				%h2(background="8 #aa#{c2}" border="5 #01#{c2}" obfuscated="true" color="#44#{c2}") #{text}
	%column
		%columns(template="20 82")
			%column
				%item(id="trofers:medium_pillar" tag="{BlockEntityTag:{Trophy:'trofers:#{trofer}'}}" scale="7" border="0 #88777777") &#32;
			%column(valign="middle")
				%h1(align="center" shadowed="true" italic="true" bold="true" background="3 #cc#{c1}" border="1 #cc#{c0}" color="#ff#{c2}") &#160;#{title}&#160;
				<br/>
				<hr/>
				<br/>
				%p(align="center") Chapters to complete:
				<br/>
				%columns
					%column(align="top")
						%p(align="right") &&e&&lTech &#160;
						%p(align="right") &&6Ad Astra&&r &#8226;&#160;
						%p(align="right") &&6Create&&r &#8226;&#160;
						%p(align="right") &&6Deep Mob Learning&&r &#8226;&#160;
						%p(align="right") &&6Industrial Revolution&&r &#8226;&#160;
						%p(align="right") &&6Modern Industrialization&&r &#8226;&#160;
						%p(align="right") &&6Powah&&r &#8226;&#160;
						%p(align="right") &&6Tech Reborn&&r &#8226;&#160;
					%column(align="top")
						%p &#160; &&a&&lMagic
						%li &#160;&#8226; &&dBewitchment
						%li &#160;&#8226; &&dBotania
						%li &#160;&#8226; &&dSpectrum
						<br/>
						%p &#160; &&9&&lMisc
						%li &#160;&#8226; &&cApplied Energistics
						%li &#160;&#8226; &&cFarmer O' Worlds
