- darkgoldenrod = "b8860b"
- lightskyblue = "87cefa"
- saddlebrown = "8b4513"
- forestgreen = "228b22"
- greenyellow = "adff2f"
- ghostwhite = "f8f8ff"
- dodgerblue = "1e90ff"
- darkviolet = "9400d3"
- lawngreen = "7cfc00"
- goldenrod = "daa520"
- seashell = "fff5ee"
- skyblue = "87ceeb"
- darkred = "8b0000"
- crimson = "dc143c"
- magenta = "ff00ff"
- yellow = "ffff00"
- orchid = "da70d6" 
- purple = "800080"
- black = "000000"
- ivory = "fffff0"
- blue = "0000ff"
- cyan = "00ffff"
- gold = "ffd700"
- c0 = seashell
- c1 = goldenrod
- c2 = skyblue
- c3 = lightskyblue
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
%columns(template="42 17 42")
	%column
		%p(align="right" background="1 #ee#{c0}")= "&#160;" * 26
		%p(align="right" background="1 #ff#{c1}")= "&#160;" * 27
		%p(align="right" background="2 #ee#{c2}")= "&#160;" * 24
		%p(align="right" background="2 #88#{c2}")= "&#160;" * 16
		%p(align="right" background="1 #66#{c2}")= "&#160;" * 12 
		%p(align="right" background="1 #44#{c2}")= "&#160;" * 8 
	%column
		%item(id="kibe:angel_ring" scale="3" background="6 #ff#{c3}" border="5 ##{c1}") &#32;
	%column
		%p(align="left" background="1 #ee#{c0}")= "&#160;" * 26
		%p(align="left" background="1 #ff#{c1}")= "&#160;" * 27
		%p(align="left" background="2 #ee#{c2}")= "&#160;" * 24
		%p(align="left" background="2 #88#{c2}")= "&#160;" * 16
		%p(align="left" background="1 #66#{c2}")= "&#160;" * 12 
		%p(align="left" background="1 #44#{c2}")= "&#160;" * 8 
