- darkgoldenrod = "b8860b"
- lightskyblue = "87cefa"
- saddlebrown = "8b4513"
- forestgreen = "228b22"
- greenyellow = "adff2f"
- ghostwhite = "f8f8ff"
- dodgerblue = "1e90ff"
- darkviolet = "9400d3"
- lawngreen = "7cfc00"
- goldenrod = "daa520"
- seashell = "fff5ee"
- skyblue = "87ceeb"
- darkorchid = "9932cc"
- darkred = "8b0000"
- crimson = "dc143c"
- magenta = "ff00ff"
- yellow = "ffff00"
- orchid = "da70d6" 
- purple = "800080"
- black = "000000"
- ivory = "fffff0"
- blue = "0000ff"
- cyan = "00ffff"
- gold = "ffd700"
- c0 = orchid
- c1 = darkorchid
- c2 = purple
- c3 = black
- c4 = gold
%columns(template="30 70")
	%column
		%p(align="right" obfuscated="true" background="1 #88#{c1}" color="#88#{c1}")= "0" * 7
		%p(align="right" obfuscated="true" background="2 #aa#{c2}" color="#ee#{c2}")= "0" * 5
		%p(align="right" obfuscated="true" background="2 #88#{c2}" color="#88#{c2}")= "0" * 3
		%p(align="right" obfuscated="true" background="1 #66#{c2}" color="#66#{c2}")= "0" * 5 
		%p(align="right" obfuscated="true" background="1 #44#{c2}" color="#44#{c2}")= "0" * 7
	%column
		%item(align="left" id="modern_industrialization:quantum_upgrade" scale="2" background="8 #88#{c3}" border="3 #88#{c4}") &#32;
