- blank = "&#160;&#160;&#160;&#160;&#160;&#160;"
- lawngreen = "7cfc00"
- forestgreen = "228b22"
- goldenrod = "daa520"
- crimson = "dc143c"
- c0 = crimson
- c2 = goldenrod
- c1 = forestgreen
<br/>
%columns(template="0 100")
	%column
		%columns
			%column(valign="top")
				%h1(background="8 #aa#{c0}" border="0 #01#{c0}") #{blank}
			%column(valign="bottom")
				%h1(background="8 #aa#{c1}" border="2 #01#{c1}") #{blank}
			%column
				%h1(background="8 #aa#{c2}" border="4 #01#{c2}") #{blank}
	%column
		%columns(template="25 75")
			%column
				%item(id="trofers:medium_pillar" tag="{BlockEntityTag:{Trophy:'trofers:farmeroworlds'}}" scale="8" align="left") &#32;
			%column(valign="middle")
				%h1(align="center" shadowed="true" background="2 #88777777" border="1 white") Farmer o' Worlds!
