%columns(template="15 8 77")
	%column
		%p &#32;
	%column
		%item(id="indrev:modular_core_activated" scale="4") &#32;
	%column
		%p(align="left" obfuscated="true" background="1 #44d76e8b" color="#d76e8b")= "0123456789" * 3
		%p(align="left" obfuscated="true" background="2 #44acef69" color="#acef69")= "0123456789" * 3
		%p(align="left" obfuscated="true" background="3 #4400ffff" color="#00ffff")= "0123456789" * 3
		%p(align="left" obfuscated="true" background="2 #44acef69" color="#acef69")= "0123456789" * 3
		%p(align="left" obfuscated="true" background="1 #44d76e8b" color="#d76e8b")= "0123456789" * 3
<br/>
%h2(align="center") Shut it down.
%h2(align="center") Shut it down &&onow!
